
    <div class="container">
        <div class="banner">
            <h1>Hey! Where are you staying?</h1>
        </div>

        <div class="header">
            <h1>Dwello</h1>

            <div class="search-container">
                <form>

                    <input type="text" id="search-bar" placeholder="Staycation to Cebu">

                    <button type="submit">
                        <svg class="form-svg" xmlns="http://www.w3.org/2000/svg" height="23px" viewBox="0 -960 960 700" width="24px" fill="#5f6368"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" /></svg>
                    </button>
                </form>
            </div>

            <div id="right-element">
                <a class="apply-home" href="">Dwello Your Home</a>


                <button class="user">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 1000" width="30px" fill="#5f6368"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" /></svg>
                </button>
            </div>
        </div>

        <hr>

        <div class="category">

            <div>
                <button class="category-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="m790.67-125.33-260-260L580-434.67l260 260-49.33 49.34Zm-562-40Q173.33-224 146.67-296 120-368 120-442.67q0-78 29-152T237.33-728q59.34-59.33 133.84-88.5t152.5-29.17q74.66 0 146.5 26.84Q742-792 800-736.67L228.67-165.33Zm4.66-100 64-64.67q-16-21.67-31.5-46t-28.5-50.67q-13-26.33-22-54-9-27.66-13.33-56-21.67 69-12.83 140 8.83 71 44.16 131.34Zm115.34-113.34 238-240q-45-35-91.17-55.5T408-701.5q-41.33-6.83-73.83-.83T284-678.67q-17.67 18-22.67 50.5t2.5 73q7.5 40.5 28.67 85.84 21.17 45.33 56.17 90.66ZM635.33-668 702-732q-61.67-38.67-133-46.67t-140.33 15.34Q456-759 483-750t53.33 21.17q26.34 12.16 51.17 27.66 24.83 15.5 47.83 33.17Z" /></svg>
                    <p>Beach</p>
                </button>
            </div>

            <div>
                <button class="category-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M80-200v-250q0-25.67 10.33-47.67 10.34-22 29.67-37v-114.66Q120-696 152-728t78.67-32H404q22.33 0 41.67 9.5Q465-741 480-724.67q15-16.33 34-25.83t41.33-9.5h173.34q46.66 0 79 32Q840-696 840-649.33v114.66q19.33 15 29.67 37Q880-475.67 880-450v250h-66.67v-80H146.67v80H80Zm433.33-356.67h260v-92.66q0-19-12.83-31.5t-31.83-12.5H553.33q-17 0-28.5 13.16-11.5 13.17-11.5 30.84v92.66Zm-326.66 0h260v-92.66q0-17.67-11.5-30.84-11.5-13.16-28.5-13.16h-176q-18.34 0-31.17 12.83-12.83 12.83-12.83 31.17v92.66Zm-40 210h666.66V-450q0-17-11.5-28.5t-28.5-11.5H186.67q-17 0-28.5 11.5t-11.5 28.5v103.33Zm666.66 0H146.67h666.66Z" /></svg>
                    <p>Hotel</p>
                </button>
            </div>

            <div>
                <button class="category-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                    <p>Condo</p>
                </button>
            </div>

        </div>

        <div class="row-1">
            <div>
                <img src="assets/images/beach_img_1.png" alt="">

                <div class="property">
                    <a href="">Talisay, Cebu</a>
                    <div class="rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                        <p>4.83</p>
                    </div>
                </div>

                <p class="location">On the beach</p>
                <p class="date">Apr 7-12</p>
                <p><span>P800 </span>night</p>
            </div>

            <div>
                <img src="assets/images/beach_img_2.png" alt="">

                <div class="property">
                    <a href="">Liloan, Cebu</a>
                    <div class="rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                        <p>4.89</p>
                    </div>
                </div>

                <p class="location">Near 7-11</p>
                <p class="date">Apr 12-15</p>
                <p><span>P900 </span>night</p>
            </div>

            <div>
                <img src="assets/images/beach_img_3.png" alt="">

                <div class="property">
                    <a href="">Minglanilla, Cebu</a>

                    <div class="rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                        <p>4.83</p>
                    </div>
                </div>

                <p class="location">On Anjo World</p>
                <p class="date">Apr 21-25</p>
                <p><span>P1000 </span>night</p>

            </div>

            <div>
                <img src="assets/images/beach_img_4.png" alt="">
                <div class="property">
                    <a href="">Cebu City, Cebu</a>

                    <div class="rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                        <p>4.80</p>
                    </div>
                </div>
                <p class="location">Near Mall</p>
                <p class="date">Apr 22-25</p>
                <p><span>P1100 </span>night</p>
            </div>
        </div>

        <div class="row-2">


            <div>
                <img src="assets/images/beach_img_5.png" alt="">
                <div class="property">
                    <a href="">Cebu City, Cebu</a>

                    <div class="rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                        <p>4.80</p>
                    </div>
                </div>
                <p class="location">Near IT Park</p>
                <p class="date">Apr 25-30</p>
                <p><span>P1100 </span>night</p>
            </div>

            <div>
                <img src="assets/images/beach_img_6.png" alt="">
                <div class="property">
                    <a href="">Cebu City, Cebu</a>

                    <div class="rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                        <p>4.80</p>
                    </div>
                </div>
                <p>Near Mall</p>
                <p class="date">Apr 22-25</p>
                <p><span>P1700 </span>night</p>
            </div>

            <div>
                <img src="assets/images/beach_img_7.png" alt="">
                <div class="property">
                    <a href="">Tambuli, Cebu</a>

                    <div class="rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                        <p>5.00</p>
                    </div>
                </div>
                <p class="location">Near Mall</p>
                <p class="date">June 1-12</p>
                <p><span>P2000 </span>night</p>
            </div>

            <div>
                <img src="assets/images/beach_img_8.png" alt="">
                <div class="property">
                    <a href="">Cebu City, Cebu</a>

                    <div class="rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" /></svg>
                        <p>4.80</p>
                    </div>
                </div>
                <p class="location">Near Mall</p>
                <p class="date">June 13-25</p>
                <p><span>P900 </span>night</p>
            </div>
        </div>

        <hr id="footer">
        <div class="more-info">
            <a href="">2024 Dwello, Inc.</a>
            <div class="circle"></div>
            <a href="">About Us</a>
            <div class="circle"></div>
            <a href="">Terms</a>
            <div class="circle"></div>
            <a href="">Contact Us</a>
        </div>

    </div>
