<h1>User Profile of Others</h1>
<hr />
<br />


<div class="profile-column">
    <div class="profile">
        <img src="image.png">
        <h2 class="first-name">UserFirstName</h2>
        <h4>Guest</h4>
    </div>
    <br /> <br />
    <div class="side-profile">
        <div class="reviews">
            <p class="no-of-reviews">0</p>
            <h5>Reviews</h5>
        </div>

        <div class="date">
            <p class="date-joined">January 1, 2000</p>
            <h5> Date Joined</h5>
        </div>
    </div>
</div>

<br />
<hr />
<br />

<div class="user-info-column">
    <h1>About UserFirstName</h1>
    
    <ul class="additional-info">
        <li><p> Lives in UserAddress</p></li>
    </ul>

    <p>UserDescription- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>   
</div>

<br />
<hr />
<br />

<h2> Reviews by UserFirstName</h2>
<div class="review-container">
    <p class="feedback"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..."</p>
    <img src="#" alt="Profile Picture" />
    <p class="review-user-name">UserFirstName</p>
    <p class="review-date">December 2024</p>
</div>
<a asp-controller="Review" asp-action="ReviewIndex" asp-route-id="" class="outline-btn">Show All 10 Reviews</a>

